.bigbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  /* height: 38vh;
  width: 15rem; */
  /* background-color: red; */
padding: 0.5rem;
}
.DP{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
  background-color: pink;
}
.DP > img{
height: 10rem;
}